.image-root { //התמונה עצמה
  background-size: cover;
  background-position: left;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;


  > div { //כל הריבוע
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon { //הכפתורים הקטנים בפנים
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: orange;
      border-color: black;
    }
  }
}

#img0 {
}

#img1 {
  filter: saturate(8);
}

#img2 {
  filter: hue-rotate(90deg);
}

#img3 {
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

#img4 {
  filter: sepia(100%);
}

#img5 {
  filter: contrast(200%) brightness(150%);
}

